@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

div.main{
  text-align: center;
}
div.content{
  display: inline-block;
}

div.sensorList {
  border: 1px solid black;
  width: 1200px;
}

div.sensorData {
  border: 1px solid black;
  width: 1200px;
}

div.sensorInfo {
  border: 1px solid black;
  margin: 10;
  padding: 0.5rem;
  width:fit-content;
  text-align: left;
}

div.alarm {
  border: 1px solid black;
  color: red;
}

/* https://www.daleseo.com/css-buttons/ */
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: 0.5s;
}

#sensorButton{
  margin: 10;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
  background-color: aliceblue;
}